.authorization {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background-color: rgb(255, 224, 130, .9);
    opacity: 0;
    padding: 20px 0;
}

.authorization-animate{
    transition-property: opacity;
    transition-duration: 1s;
}

.authorization img {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-weight: 400;
    cursor: pointer;
}

.authorization__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    height: 100%;
}

.authorization__title{
    margin-bottom: 50px;
}


.close:hover{
    transform: rotate(90deg);
    transition: all ease-in 1s ;
}

.authorization__form input {
    min-width: 390px;
    height: 40px;
    padding: 5px 15px;
    border-radius: 50px;
    border: none;
    box-shadow: 2px 2px 5px rgb(235 178 7);
}

.authorization__form input:not(:last-child){
    margin-bottom: 40px;
}

.authorization__form input::placeholder{
    font-style: italic;
    font-size: 16px;
}

.authorization__form input:focus{
    outline: 3px solid rgb(235 178 7);
}

.authorization__btn {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.btn {
    background-color: rgb(255, 224, 130, .8);
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    box-shadow: 2px 2px 5px rgb(235 178 7);
}

.btn:hover {
    background-color: rgba(235, 179, 14, 0.8);
    transition: all ease-in .5s ;
}

.error{
    font-size: 18px;
    color: red;
    margin-bottom: 10px;
    align-self: flex-start;
    padding-left: 45px;
}

.error-input{
    border: 2px solid red !important;
}